.text-container {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bill_name{
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
.text-name{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.imgg{
    width:350px; 
    height:400px;
}
.buttonAmount{
    width:40px;
    height:40px;
    border-radius:5px;
    background-color: black;
    color: white;
    transition: 0.5s;
}
.buttonAmount:hover{
    background-color:white;
    color: black;
    transition: 0.5s;
}
.inputAmount{
    width: 150px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
}
.Orderbutton{
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: 0.5s;
}
.Orderbutton:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.Order{
    margin-top: 20px;
}
.form-size{
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
    padding-right: 150px;
}
.forminfo{
    margin: 20px 30px;
}
.forminfo1{
    margin: 20px 30px;
    border:  1px solid white;
    border-radius:5px;
    padding: 20px 30px;
    box-shadow: 0 0 3px black;
}
